@import "./breakpoints/breakpoints.scss";
@import "~bootstrap/scss/bootstrap";

$background: #f4f3e7;
$gray: rgb(75, 75, 75);
$btnColor: #77cccc;
$sweetgreen: #00473c;
$card: #e8dcc6;
$hoverCard: #e4d5ba;
$blue: #d8e5d6;
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: $background;
  cursor: default;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 30px 50px;
  font-size: 20px;
  color: $gray;
  border-bottom: $gray solid 1px;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background;

  .logo {
    @include media("<=longNav") {
      display: none;
    }
  }

  .navItems {
    display: flex;
    gap: 20px;
    .navItem:hover {
      color: black;
      cursor: pointer;
    }

    @include media("<=shortNav") {
      display: none;
    }
  }

  .dropdown {
    display: none;
    .dropdown-toggle {
      background: none;
      color: #000 !important;
      border: solid black 2px;
    }

    @include media("<=shortNav") {
      display: block;
    }
  }

  .navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      .cartImg {
        width: 35px;
      }
      :hover {
        cursor: pointer;
      }
    }

    .authBtn:hover {
      color: black;
      cursor: pointer;
    }
  }
}

// Homepage
.home {
  padding: 150px 50px;
  min-height: 100vh;
  height: 100%;

  .landingText {
    font-size: 80px;
    margin-bottom: 40px;
    @include media("<=longNav") {
      font-size: 60px;
    }
    @include media("<=shortNav") {
      font-size: 40px;
    }
  }

  .langdingImgContainer {
    .landingImg {
      width: 90%;
      border-radius: 20px;
    }
  }
}

// auth page

.authPage {
  padding-top: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 120px;

  .welcomeImg {
    width: 450px;
  }

  .formContainer {
    text-align: left;

    h1 {
      font-size: 70px;
    }

    p {
      font-size: 20px;
      font-weight: 100;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 30px;
      input {
        border: none;
        outline: 0;
        border-bottom: solid 1px $gray;
        height: 50px;
        width: 300px;
        font-size: 20px;
        padding-left: 10px;
        border-radius: 8px;
      }

      button {
        height: 50px;
        margin: 20px 0;
        border-radius: 50px;
        color: white;
        background-color: #00473c;
      }
    }
  }
}

// categories page

.categoryPage {
  padding: 130px 0;
  min-height: 100vh;
  height: 100%;

  .pageTitle {
    margin-left: 40px;
    font-size: 40px;
  }

  .itemCards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding-top: 40px;

    .itemCard {
      background-color: $card;
      width: 342px;
      height: 480px;
      border-radius: 10px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .itemImgContainer {
        height: 206px;
        overflow: hidden;
        .itemImg {
          width: 310px;
        }
      }

      .itemName {
        font-size: 20px;
        margin: 10px;
      }

      .itemDescription {
        min-height: 96px;
      }

      .infoContainer {
        border: solid 1px black;
        border-radius: 5px;
        width: 120px;
        // display: flex;
        // justify-content: space-around;
        margin: auto;
        margin-top: 20px;
      }

      .deleteBtn {
        color: darkred;
        margin: 8px;
        text-decoration: underline;
        padding: 3px 10px;
        border-radius: 6px;
      }
      .deleteBtn:hover {
        background-color: darkred;
        color: white;
        z-index: 100;
      }
    }

    :hover {
      background-color: $hoverCard;
      cursor: pointer;
    }

    #addDish {
      align-items: center;
      justify-content: center;

      .itemName {
        font-size: 25px;
      }

      .addImg {
        width: 50px;
      }
    }
  }
}

.showPage {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  .showPageLeft {
    width: 40vw;
    border-right: solid black 1px;
    overflow: scroll;
    text-align: left;
    padding: 50px;

    .itemName {
      font-size: 45px;
    }
    .itemInfo {
      font-size: 19px;
      padding-left: 5px;
    }
    .details {
      font-size: 21px;
      padding: 5px;
      margin-top: 35px;
      margin-bottom: 60px;

      p {
        font-weight: 100;
        color: $gray;
        margin-bottom: 60px;
      }

      #quantity {
        display: flex;
        justify-content: space-between;

        .detalContent {
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;

          .minus {
            width: 40px;
            height: 40px;
            border: solid 1px $gray;
            color: $gray;

            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .minus:hover {
            border: black 1px solid;
            color: black;
            cursor: pointer;
          }

          .plus {
            width: 40px;
            height: 40px;
            border: solid 1px $gray;

            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .plus:hover {
            border: black 1px solid;
            color: black;
            cursor: pointer;
          }
        }
      }
    }

    .buttons {
      font-size: 40px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      border-top: 1px solid black;
      border-right: 1px solid black;
      width: 40vw;
      padding: 20px;
      gap: 30px;

      .btn {
        width: 300px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }

      #customize {
        border: #000 1px solid;
      }

      #cart {
        background-color: #00473c;
        color: white;
      }

      #edit {
        border: #000 1px solid;
        background-color: rgb(255, 213, 75);
      }

      #delete {
        background-color: rgb(206, 45, 45);
        color: white;
      }
    }
  }
  .showPageRight {
    width: 60vw;
    background-color: $card;
  }
}

//  checkout page
.checkout {
  height: 100%;
  padding: 150px 0;
  background-color: $card;

  .pageTitle {
    font-size: 45px;
  }
  form {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
    .formLeft {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .pickup {
        height: 400px;
        background-color: $background;
        border-radius: 15px;
        padding: 38px;
      }
      .payment {
        background-color: $background;
        border-radius: 15px;
        padding: 38px;
      }
      .cardItem {
        display: flex;
        gap: 20px;
        padding: 20px;
        font-size: 18px;
        .icon {
          width: 30px;
        }
      }
    }

    .formRight {
      width: 500px;
      background-color: $background;
      border-radius: 15px;
      padding: 38px;

      .orderDish {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        .dishName {
          font-size: 18px;
        }
        img {
          width: 150px;
        }
        .dishCount {
          margin: 5px;
          border-radius: 50px;

          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          gap: 10px;
          .minus {
            width: 35px;
            height: 35px;
            border: solid 1px black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .plus {
            width: 35px;
            height: 35px;
            border: solid 1px black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .dishPrice {
          margin-left: 30px;
        }
      }

      .price {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;

        .priceItem {
          display: flex;
          justify-content: space-between;
        }
        #total {
          font-weight: bold;
        }
      }

      .placeOrderBtn {
        background-color: $sweetgreen;
        height: 50px;
        color: white;
        margin: 30px 0;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .placeOrderBtn:hover {
        background-color: #006858;
        cursor: pointer;
      }

      .disclaimer {
        text-align: left;
      }
    }

    .cardTitle {
      font-size: 20px;
      text-align: left;
    }
  }
}

.newPage {
  padding: 150px 0;
  min-height: 100vh;
  height: 100%;

  h1 {
    // background-color: red;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $card;
    padding: 30px;
    padding-top: 50px;
    gap: 20px;

    .formItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: yellow;
      width: 550px;
      gap: 10px;
      .formItemName {
        // background-color: lightblue;
        width: 100px;
        font-size: 20px;
      }

      .formItemContent {
        // background-color: pink;
        width: 450px;
      }

      #radio {
        // background-color: red;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        flex-wrap: wrap;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
      }

      input {
        border: none;
        outline: 0;
        border-bottom: solid 1px $gray;
        height: 50px;
        font-size: 20px;
        padding-left: 10px;
        border-radius: 8px;
      }

      textarea {
        height: 120px;
        border: none;
        outline: 0;
        font-size: 20px;
        border-bottom: solid 1px $gray;
        padding: 10px;
        border-radius: 8px;
        resize: none;
      }
    }

    button {
      height: 50px;
      width: 200px;
      margin: 20px 0;
      margin-left: 80px;
      border-radius: 50px;
      color: white;
      background-color: #00473c;
    }

    button:hover {
      background-color: #006858;
      cursor: pointer;
    }
  }
}

// footer
.footer {
  width: 100%;
  height: 350px;
  background-color: $blue;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  text-align: left;

  .footerColumnTitle {
    font-size: 25px;
  }

  .footerColumnItem {
    margin-bottom: 6px;
  }

  .footerColumnItem:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .copyright {
    font-size: 18px;
    color: $gray;
  }
}
